{% extends 'main.html' %}
{%block content%}

<div class="container">
        <header>
            <h1>This is a basic website without much styling </h1>
            {% if user.is_authenticated%}
            <div class='user-info'>
                <h3>Logged in as: <span> {{request.user}}</span> </h3> 
              <h4> User ID:<span> {{request.user.id}}</span> </h4> 
            </div>    
            {%endif%}
        </header>
        <section class="hero">
            <h2>Join Us Today!</h2>
            <p>Discover a world of opportunities. Register or log in to get started.</p>
            <div class="buttons">
                <a href="{% url 'register'%}" class="btn btn-secondary">Register</a>
                <a href="{% url 'login'%}" class="btn btn-secondary">Login</a>
                <a href="{% url 'logout'%}" class="btn btn-secondary">Logout</a>
            </div>
        </section>
        <br>
        <center>
            <div>
                {%if user.is_authenticated%}
            <div>
                <a href="{%url 'search'%}"><button class="btn btn-secondary">SEARCH</button> </a>
            </div>   
            {%else%}
            <h3> login first to access the search feature :) </h3>
            {%endif%}
            </div>
        </center>
</div>
{%endblock content%}